{% extends 'layout.html' %}
{% block content %}
    <div class="featured__items">
        <div class="featured__items__box-1">
            <div class="featured__items__cart__link">
                <a href="#"><img src="/static/img/item_1.png" alt="item_image"></a>
                <div class="featured__items__box__overlay"></div>
                <div class="button_cart">
                    <a href="javascript:void(0);"><img src="/static/img/b_cart.png">&nbsp;Add To Cart</a>
                </div>
            </div>
            <h3><a href="#">ELLERY X M'O CAPSULE</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui optio eum aut tenetur? Aliquam laboriosam sapiente, sequi maxime provident eum adipisci doloremque et nam ab! Quas soluta veritatis consequatur corrupti!.
            </p>
            <p><span class="colored">$52.00</span></p>
        </div>
        <div class="featured__items__box-2">
            <div class="featured__items__cart__link">
                <a href="#"><img src="/static/img/item_2.png" alt="item_image"></a>
                <div class="featured__items__box__overlay"></div>
                <div class="button_cart">
                    <a href="javascript:void(0);"><img src="/static/img/b_cart.png">&nbsp;Add To Cart</a>
                </div>
            </div>
            <h3><a href="#">ELLERY X M'O CAPSULE</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis delectus expedita ab dicta fugit sint natus inventore nobis et molestias. Fugit, quasi repellat? Accusamus culpa repellendus ratione vitae rerum illo.</p>
            <p><span class="colored">$52.00</span></p>
        </div>
        <div class="featured__items__box-3">
            <div class="featured__items__cart__link">
                <a href="#"><img src="/static/img/item_3.png" alt="item_image"></a>
                <div class="featured__items__box__overlay"></div>
                <div class="button_cart">
                    <a href="javascript:void(0);"><img src="/static/img/b_cart.png">&nbsp;Add To Cart</a>
                </div>
            </div>
            <h3><a href="#">ELLERY X M'O CAPSULE</a></h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, iure itaque libero sint saepe obcaecati! Quaerat soluta praesentium consequatur alias aliquam corporis id nisi cupiditate doloremque magni, cumque voluptatem magnam?</p>
            <p><span class="colored">$52.00</span></p>
        </div>
        <div class="featured__items__box-4">
            <div class="featured__items__cart__link">
                <a href="#"><img src="/static/img/item_4.png" alt="item_image"></a>
                <div class="featured__items__box__overlay"></div>
                <div class="button_cart">
                    <a href="javascript:void(0);"><img src="/static/img/b_cart.png">&nbsp;Add To Cart</a>
                </div>
            </div>
            <h3><a href="#">ELLERY X M'O CAPSULE</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloribus ut in. Iure nam eveniet non doloribus. Saepe eligendi voluptates eum dolor perspiciatis animi, quos fuga perferendis, libero reprehenderit eos.</p>
            <p><span class="colored">$52.00</span></p>
        </div>
        <div class="featured__items__box-5">
            <div class="featured__items__cart__link">
                <a href="#"><img src="/static/img/item_5.png" alt="item_image"></a>
                <div class="featured__items__box__overlay"></div>
                <div class="button_cart">
                    <a href="javascript:void(0);"><img src="/static/img/b_cart.png">&nbsp;Add To Cart</a>
                </div>
            </div>
            <h3><a href="#">ELLERY X M'O CAPSULE</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae earum, delectus laudantium doloremque vero quidem dolor velit provident, voluptates error id, eos cum fugit tempora suscipit? Culpa sapiente aut laboriosam?.</p>
            <p><span class="colored">$52.00</span></p>
        </div>
        <div class="featured__items__box-6">
            <div class="featured__items__cart__link">
                <a href="#"><img src="/static/img/item_6.png" alt="item_image"></a>
                <div class="featured__items__box__overlay"></div>
                <div class="button_cart">
                    <a href="javascript:void(0);"><img src="/static/img/b_cart.png">&nbsp;Add To Cart</a>
                </div>
            </div>
            <h3><a href="#">ELLERY X M'O CAPSULE</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum asperiores iste facilis perferendis vitae explicabo, id rem, accusamus officia in et, cumque ad animi adipisci. Aliquid non laborum voluptas quas!.
            </p>
            <p><span class="colored">$52.00</span></p>
        </div>
    </div>
    <div class="simple__button">
        <a href="#" class="btn">Browse All Product</a>
    </div>
{% endblock %}