{% extends 'layout.html' %}
{% block content %}
    <div class="offers">
        <div class="offers__box-1 bg__men__bags">
            <h2>
                <a href="bags/">
                    Browse<br /><span class="colored lager">Bags</span>
                </a>
            </h2>
        </div>
        <div class="offers__box-2 bg__men__denim">
            <h2>
                <a href="denim/">
                    Browse<br /><span class="colored lager">Denim</span>
                </a>
            </h2>
        </div>
        <div class="offers__box-3 bg__men__tshirts">
            <h2>
                <a href="t-shirts/">
                    Browse<br /><span class="colored lager">T-Shirts</span>
                </a>
            </h2>
        </div>
    </div>
{% endblock %}